{% from 'components/pagination.html' import pagination %}
{% from 'components/search.html' import search %}

{% macro sort_link(sort, selected_sort, order) %}
    {% if sort == selected_sort %}
        {% if order == 'asc' %}
            <i class="icon-chevron-up"></i>
            <a data-pjax href="{{ url_for_other_page(sort=sort, order='desc') }}">{{ sort }}</a>
        {% else %}
            <i class="icon-chevron-down"></i>
            <a data-pjax href="{{ url_for_other_page(sort=sort, order='asc') }}">{{ sort }}</a>
        {% endif %}
    {% else %}
        <a data-pjax href="{{ url_for_other_page(sort=sort, order='asc') }}">{{ sort }}</a>
    {% endif %}
{% endmacro %}

{% macro table_header(datatable, actions=False) %}
    <thead>
        <tr>
            {% for sort in datatable.sortables %}
                <th>{{ sort_link(sort, datatable.selected_sort, datatable.selected_order) }}</th>
            {% endfor %}
            {% for name in datatable._columns %}
                <th>{{ name }}</th>
            {% endfor %}
            {% if actions %}
                <th></th>
            {% endif %}
        </tr>
    </thead>
{% endmacro %}

{% macro table_body(datatable, actions=False) %}
    <tbody>
        {% for u in datatable.query.items %}
            <tr>
                {% for sort in datatable.sortables %}
                    {% if loop.index == 1%}
                    <td>
                        <a href="{{ url_for('.edit', id=u.id) }}">
                        {{ u[sort] }}
                        </a>
                    </td>
                    {% else %}
                        {% if sort == 'created_ts' %}
                        <td>
                            {{ timeago(u[sort]) }}
                        </td>
                        {% else %}
                        <td>
                            {{ u[sort] }}
                        </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for name in datatable._columns %}
                    <td>{{ name }}</td>
                {% endfor %}
                {% if actions %}
                    <td>
                        {% set dialogue = 'Are you sure you want to delete %s?' % u.id %}
                        <a data-confirm data-dialogue="{{ dialogue }}" class="btn btn-default btn-xs" href="{{ url_for('.delete', id=u.id) }}">
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr><td colspan="{{ datatable.colspan }}">No results found for: {{ request.values.get('query') }}</td></tr>
        {% endfor %}
    </tbody>
{% endmacro %}

{% macro table(datatable, actions=False) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-md-11">
            {{ search('Search for an id') }}
        </div>
        <div class="col-md-1">
            <a class="btn btn-primary" href="{{ url_for('.create') }}">Create</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            {{ table_header(datatable, actions) }}
            {{ table_body(datatable, actions) }}
        </table>
    </div>
    <div class="panel-footer">
        {{ pagination(datatable.query, datatable.limits) }}
    </div>
</div>
{% endmacro %}
